*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Istok Web', sans-serif;
  background-color: white;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* About us */
.about__us-inner {
  display: flex;
  justify-content: space-between;
}
.section-about-us {
  margin: 100px 171px 318px 171px;
}

.section-images {
  position: relative;
}

.img-big {
  width: 370px;
  height: 676px;
}

.img-small {
  width: 298px;
  height: 470px;
  position: absolute;
  top: 306px;
  left: 202px;
}

/* Section Text */

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: flex-start;
}

.head-text {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  color: #0a7777;
  margin-bottom: 60px;
}

h2 {
  font-family: 'Istok Web', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 69.09px;
  color: #000000;
  margin-bottom: 80px;
}

.main-paragraph {
  font-family: 'Istok Web', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34.55px;
  margin-bottom: 80px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  column-gap: 50px;
}

.num1,
.num2,
.num3,
.num4 {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60.51px;
  color: #0a7777;
}

.p1,
.p2,
.p3,
.p4 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}
/* Package */
.Tour-packages {
  margin: 106px 171px 76px 171px;
  display: flex;
  flex-direction: column;
}

.Tour-packages-head-text {
  margin-bottom: 70px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  color: #0a7777;
}

.Tour-packages-container h2 {
  font-family: 'Istok Web', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 69.09px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 93px;
}

.card {
  display: flex;
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 13px;
  flex-direction: column;
  padding: 19px 25px 25px 25px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 321.44px;
  height: 239.94px;
  border-radius: 13px;
  margin-bottom: 32px;
}

h4 {
  margin-bottom: 32px;
  font-family: 'Istok Web', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.55px;
}

.cards-container p {
  font-family: 'Istok Web', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.55px;
  color: #0a7777;
}

.Tour-packages-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card1 {
  position: relative;
}

.card1 p::after {
  content: '10 DAYS TOUR';
  font-family: 'Istok Web', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #a8a8a8;
  position: absolute;
  left: 184px;
  bottom: 33px;
}

.card2 {
  position: relative;
}

.card2 p::after {
  content: '12 DAYS TOUR';
  font-family: 'Istok Web', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #a8a8a8;
  position: absolute;
  left: 184px;
  bottom: 33px;
}

.card3 {
  position: relative;
}

.card3 p::after {
  content: '7 DAYS TOUR';
  font-family: 'Istok Web', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #a8a8a8;
  position: absolute;
  left: 184px;
  bottom: 33px;
}

.testimonials {
  padding: 110px 0;
}

.testimonials__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0a7777;
  margin-bottom: 60px;
}

.testimonials__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  max-width: 609px;
  margin-bottom: 30px;
}
.testimonial__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial__card {
  position: relative;
  box-shadow: -2px 7px 14px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -2px 7px 14px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -2px 7px 14px -3px rgba(0, 0, 0, 0.53);
  padding: 0 20px;
  max-width: 245px;
  z-index: 1;
  text-align: center;
  border-radius: 35px 35px 0px 0px;
}

.card__bg {
  position: absolute;
  left: 0;
  top: 0;
}
.card__avatar {
  z-index: 999;
  position: relative;
  margin-bottom: 30px;
  top: 31px;
  left: -3%;
}

.testimonial__card-title {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  margin: 0 auto;
}
.testimonial__card-desc {
  margin: 10px 0 15px;
  font-size: 12px;
  line-height: 15px;
  font-family: 'Inter';
  font-weight: 400;
}

/* Proposal section */

.proposal {
  padding: 70px 0 140px;
  text-align: center;
}

.proposol__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  color: black;
  max-width: 675px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.proposol__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: black;
  margin-bottom: 30px;
}
.proposol__button {
  display: inline-block;
  background-color: #0a7777;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding: 7px 8px;
  text-align: center;
  border-radius: 9px;
  margin-bottom: 30px;
}
.proposol__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.proposal__box {
  padding: 14px 16px;
  background: #f7f7f7;
  border-radius: 13px;
}
.proposal__img {
  border-radius: 13px;
}
.proposol__box-title {
  text-align: left;
  margin: 24px 0;
}
.price__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.propopasal__price {
  font-size: 24px;
  line-height: 35px;
  color: #0a7777;
  font-weight: 700;
}
.proposal__time {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #a8a8a8;
}
.modify {
  position: relative;
  bottom: 125px;
}
.mod-1 {
  margin-right: 50px;
}
.mod-2 {
  margin-left: 50px;
}

/* footer */
.footer {
  padding-bottom: 70px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: black;
  margin-bottom: 50px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.about__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}
.footer__link:hover {
  color: #0a7777;
}
.newsletter__desc {
  font-size: 20px;
  line-height: 29px;
  color: black;
  max-width: 270px;
}

.social__heading {
  font-weight: 700;
  font-size: 37px;
  line-height: 53px;
  color: #0a7777;
  margin-bottom: 42px;
}
.youtube__log {
  margin-bottom: 10px;
}
.social__block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
